<!DOCTYPE html>
<html>
<head>
	<title>Error</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="estilo.css">
</head>

<body class="superior">
	<table align="center"  width="80%">
		<tr>
			<td class="superior"></td>
		</tr>
		<tr>
			<td class="superior"><h2>Lo sentimos la página no existe</h2></td>
		</tr>
		<tr>
			<td class="superior"><img src="alerta.jpg" width="200px"></td>
		</tr>
		<tr>
			<td class="superior"><h2>Puede intentar cargando la página</h2></td>
		</tr>
	</table>
</body>
</html>